h1 {
  font-size: 6em;
  text-align: center;
  line-height: 1em;
  margin-top: 30vh;
  margin-bottom: 20px;

  @include viewport--sm {
    font-size: 3em;
  }
}

p {
  font-size: 1.5em;
  margin-bottom: 15vh;
  text-align: center;
  line-height: 1em;

  @include viewport--sm {
    font-size: 1em;
  }
}

.hidden-text {
  position: absolute;
  z-index: 5;
  top: 60%;
  right: -150px;
  transform: translateY(-50%);
  color: tomato;
  transition: $default-transition-settings;

  color: #e74c3c;
  font-weight: 700;

  font-size: 24px;
}

.button-link {
  display: block;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  display: block;
  padding: 7px 11px;
  font-size: 1.5em;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 7px 11px;
  color: #000;
  background-color: #ffffff;
  transition: $default-transition-settings;
  outline: none;

  background: #215f00;
  background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);
  background: linear-gradient(to right, #e4e4d9, #215f00);

  color: #fff;

  @include viewport--sm {
    top: 65%;
    font-size: 1em;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &--red {
    background: #000000;
    background: -webkit-linear-gradient(to right, #e74c3c, #000000);
    background: linear-gradient(to right, #e74c3c, #000000);

    color: #fff;
  }
}
